@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

$spacing-base: 8px;
$base-text-color: rgb(30, 30, 30);
$default-font: 'Montserrat', sans-serif;

$blue: #73f2ca;
$yellow: #EEBD39;
$red: #d72b24;
// $red: #D16666;
$light-gray: #F8F4F9;
$dark-blue: #2C4251;

$media-xs: 425px; 
$media-s: 600px;
$media-s2: 820px;
$media-m: 1000px;
$media-l: 1200px;

@function spacing($param) {
  @return ($param * $spacing-base);
}

@mixin media($media-size) {
  @media (max-width: $media-size) {
    @content;
  }  
}

$window-padding: spacing(7);

@mixin window_padding() {
  padding: 0 spacing(7);
  @media (max-width: $media-s) {
    padding: 0 spacing(6);
  }
  @media (max-width: $media-xs) {
    padding: 0 spacing(3);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  padding-bottom: $window-padding;
}

h1 {
  font-size: 31px;
  color: $base-text-color;
}

h2 {
  font-size: 28px;
  color: $base-text-color;
}

a {
  text-decoration: none;
  color: $base-text-color;
  font-family: $default-font;
  font-size: 15px;
  font-weight: 500;
  &:hover {
    font-weight: 600;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex;
}

.error {
  margin-top: spacing(3);
  color: $red
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: spacing(2);
}

.mt-3 {
  margin-top: spacing(3);
}

.mt-4 {
  margin-top: spacing(4);
}

.mb-2 {
  margin-bottom: spacing(2);
}

.mb-3 {
  margin-bottom: spacing(3);
}

.mb-4 {
  margin-bottom: spacing(4);
}

.mb-5 {
  margin-bottom: spacing(5);
}

.mb-6 {
  margin-bottom: spacing(6);
}

.loading-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: spacing(16);
  // padding: 0 $window-padding;

  @include window_padding();

  @include media($media-l) {
    #nav-closed {
      display: block;
    }

    #nav-open {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background-color: white;
      padding: spacing(4) spacing(8);
      padding-right: spacing(10);
      box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
      z-index: 50;
    }
    
    #nav-links-closed {
      display: none;
    }

    #nav-links-open {
      margin-top: spacing(4);
      display: flex;
      flex-direction: column;
      row-gap: spacing(3);
      
      button {
        position: relative;
        left: 0px;
        top: spacing(1)
      }
    }

  }
}

#logo {

  display: flex;
  // flex-direction: column;
  column-gap: spacing(2);
  align-items: center;

  div {
    // position: relative;
    // bottom: 8px;
    max-width: 59px;
    border: 2px solid gray;
    // border-left: 1px solid gray;
    padding: 7px 12px;
    // padding-left: 12px;
    // padding-bottom: 7px;
    // rotate: 270deg;

    img {
      position: relative;
      top: 2px;
      left: 3px;
      width: 100%;
      opacity: 0.9;
    }
  }
  a {
    position: relative;
    bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
}

.main-nav {
  position: relative;

  button {
    position: relative;
    left: -18px;
    display: none;
    @include media($media-l) {
      display: block;
    }
    cursor: pointer;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  .bi {
    font-size: 19px;
  }
  
  .nav-links {
    display: flex;
    column-gap: spacing(6);
  }
}


.banner {
  width: 100vw;
  height: spacing(20);
  object-fit: cover;
  object-position: 80% 50%;
  margin-bottom: spacing(6);
}

main {
  @include window_padding();
  flex-grow: 1;
  // max-width: 1200px;
  // margin: 0 auto;
}

.base-headline-container {
  margin-bottom: spacing(5);
  h2, h1 {
    margin-bottom: spacing(4);
  }
  hr {
    border: none;
    border-top: 1px solid rgb(232, 232, 232);
  }
}

.list-headline-container {
  @extend .base-headline-container;
}


.headline-container {
  @extend .base-headline-container;
}

.text-page-container {
  display: flex;
  column-gap: spacing(6);
  @media (max-width: $media-m) {
    flex-direction: column;
  }

  .text-page-content-container {

    width: 100%;

    .text-page-text {
      max-width: 665px;
    }
  
    .headline-container {
      margin-bottom: spacing(4);
      h2, h1 {
        margin-bottom: spacing(3);
      }
    }

  }

  .text-page-image-container {
    flex-basis: 350px;
    max-width: 350px;
    margin-bottom: spacing(3);

    img {
      width: 100%;
    }
  }

}

.artworks {
  display: grid;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  @include media($media-m) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media($media-s) {
    grid-template-columns: repeat(1, 1fr);
  }
  column-gap: spacing(4);
  row-gap: spacing(6);
  margin-bottom: spacing(10);
}

.artwork-container {
  cursor: pointer;
  width: 100%;
  img {
    width: 100%;
  }
}

.artwork-text-container {
  display: flex;
  flex-direction: column;
  .artwork-title {
    margin-top: spacing(2);
    margin-bottom: spacing(1);
    font-size: 14px;
    font-style: italic;
    color: gray;
  }
  .artwork-year {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: gray;
  }
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

#to-main-content {
  position: absolute;
  height: 20px;
  top: -50px;
  @include window_padding(); 
  &:focus {
    top: 20px;
  }
}

#admin-edit-container {
  display: flex;
  @include media($media-s2) {
    flex-direction: column
  }
  @include window_padding();
}

.admin-main {
  padding-right: 0;
  @include media($media-s2) {
    padding-left: 0;
  }
}

#admin-nav {
  flex-basis: spacing(32);

  h3 {
    margin-bottom: spacing(5);
  }

  a {
    display: block;
    padding: 20px 30px;
    margin-top: spacing(1);
    width: 100%;
    background-color: rgb(246, 244, 244);
  }
}

.admin-list { 
  margin-top: spacing(5);

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: spacing(2);
    padding-left: spacing(3);
    padding-right: spacing(2);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    button {
      padding: spacing(2);

    }
  }
}

.input-base {
  width: 100%;
  padding: 14px 19px;
  margin-bottom: spacing(3);
  border: 1px solid rgb(222, 222, 222);

}

.prio-categories {
  @extend .input-base;
  padding: 0px 19px;
  margin-bottom: spacing(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);

  span {
    padding: 14px 0;
  }

  div {
    display: flex;
    column-gap: spacing(1);
  }

  .bi {
    font-size: 20px;
    color: $base-text-color;
    cursor: pointer;
    border: 1px solid $blue;
    border-radius: 3px;
    padding: 5px 10px;
    background: $blue;
  }
}

.edit-single-form {
  margin-top: spacing(7);

  label {
    display: block;
    margin-bottom: spacing(1);
  }

  input {
    @extend .input-base;

    &:active {
      border: 2px solid $blue;
    }
  }

  .select-container {
    position: relative;

    select {
      @extend .input-base;
      appearance: none;
    }

    .bi {
      position: absolute;
      right: 19px;
      top: 16px;
      font-size: 13px;
    }
  }

  .admin-img-container {
    max-width: 400px;
    margin-bottom: spacing(3);
  }
  
  img {
    width: 100%;
  }

  .check-boxes-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: spacing(2);
    row-gap: spacing(2);
    margin-top: spacing(2);

    .selected {
      border: 1px solid $blue;
      background-color: white;
    }

    label {
      display: flex;
      align-items: center;
      column-gap: spacing(1);
      font-size: 14px;
      background-color: $light-gray;
      border-radius: 4px;
      padding: 0 15px;
      border: 1px solid rgb(214, 214, 214);
      cursor: pointer;

      span {
        padding: 10px 0;
      }
    }
  }
}

.btn {
  display: inline-flex !important;
  align-items: center;
  column-gap: spacing(1);
  padding: 0 26px;
  margin: 0;
  font-family: $default-font;
  font-weight: 600;
  font-size: 14px;
  margin-right: spacing(2);
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  
  span {
    padding: 18px 0;
  }

  .bi {
    font-size: 18px;
  }

  .bi-trash3 {
    font-size: 15px;
  }

  &:disabled {
    background-color: rgb(180, 180, 180);
  }

}

.bg-blue {
  background-color: $blue !important;
  &:hover {
    color: $yellow;
  }
}

.bg-red {
  outline: solid 2px $red;
  outline-offset: -2px;
  color: $red;
}

.btn-blue {
  @extend .btn;
  @extend .bg-blue;
}

.btn-s {
  padding: 0 17px !important;
  font-size: 13px;
  font-weight: 500;
  .bi {
    font-size: 13px;
  }
  span {
    padding: 12px 0 !important;
  }
}

.btn-blue-s {
  @extend .btn-blue;
  @extend .btn-s;
}

.btn-red {
  @extend .btn;
  @extend .bg-red;
}

.btn-red-s {
  @extend .btn-red;
  @extend .btn-s;
}

.fs-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  @include window_padding();
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;

  .modal-container {
    background-color: white;
    padding: 60px 60px;
    max-width: 600px;
  }

  .modal-message {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: spacing(4);
  }
}

#images-section-container {
  flex-basis: 650px;
  padding: 40px 60px;
  background-color: white;
  max-height: 90vh;

  #images-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-bottom: spacing(5);
    align-self: start;
    overflow-y: scroll;
    max-height: 270px;

    div {
      position: relative;
      flex-basis: 100px;

    }

    .bi {
      position: absolute;
      top: 6px;
      right: 9px;
      color: $blue;
    }

    img {
      width: 100%;
      cursor: pointer;
    }

    .image-selected {
      outline: solid 3px $blue;
    }
  }
}

.login-form {
  input {
    @extend .input-base;
    max-width: 500px;
    display: block;
  }
}

.modal-image-container {
  position: relative;
  height: 93vh;
  max-width: 90vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include window_padding();
  
  img {
    max-height: 90%;
    max-width: 100%;
  }

  .bi {
    position: absolute;
    top: 15px;
    right: 18px;
  }

}

.category-text {
  text-align: center;
  max-width: 650px;
  font-size: 15px;
  font-style: italic;
  margin: 0 auto;
  margin-bottom: spacing(6);
  color: rgb(68, 68, 68);
  line-height: 1.6;
}